
.another {
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: auto;
   width: 80%;
   height: 3vh;
   overflow: hidden;
   position: relative;
   top: 43%;
   .another-text {
      font-size: 1rem; 
      font-weight: 700;
      color: red;
      white-space: nowrap; 
      animation: slide 70s linear infinite; 
      &:hover{
         animation: none;
      }
      }
}
 
 /* Define the animation keyframes */
 @keyframes slide {
   from {
     transform: translateX(100%); /* Start from the right */
   }
   to {
     transform: translateX(-100%); /* Slide to the left */
   }
 }

 
 
 
 
 
.about{
    width: 100%;
    margin-top: 1rem;
    height: 90vh;
   display: flex;
   justify-content: center;
   gap: 0.3rem;
 


   .about_left{
    display: flex;
    width: 40%;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
    
    .about_left_1{
        
        border: 1px solid grey;
        border-radius: 3px ;
        box-shadow: 1px 1px 1px 1px grey;
        background-color: white;
        width: 100%;
        height: 33vh;
        .about_left_1_nav{
         img{
            padding-left: 10px;
            width: 70%;
         }
           display: flex;
        width: 100%;
        height: 6vh;
        background-color: gainsboro;
        gap: .3rem;
        justify-content:left;
        align-items: center;
         h2{
            font-size: 1.4rem;
            font-weight: 600;
            color: blue;
         }
       }





    }
    .about_left_2{
      overflow: scroll;
        width: 100%;
        height: 54vh;
       border: 1px solid black;
    }
   }

   .about_right{
    width: 40%;
        height:90vh;
        border: 1px solid black;
        overflow: scroll;
   }
}