
.portal {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .portal_box{
    width: 78%;
    height: 20vh;
    // background-color: green;
    display: flex;
    align-items: center;

    button {
      width: 22%;
      height: 9vh;
      padding: 0.3rem;
      font-size: 0.2vw;
      font-size: 1rem;
      margin: 0.6rem;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

.e_shram {
  display: flex;
  justify-content: space-between;
  margin-left: 8.1rem;
  margin-right: 7.6rem;
  @media (max-width) {
    justify-content: center;
    
  }
 

  .e_shram_portal {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: blue;
    img {
      width: 25%;
    }
    p{
      font-size: 1.5vw;
      cursor: pointer;
    }
  }
  .e_shram2{
    img{
      width: 18vw;
    }
  }
}

.footerbottom {
  
  width: 100%;
  height: 6.7vh;
  background-color: #e8e8e8;
  display: flex;
  // justify-content: start;
  padding-left: 27rem;
  align-items: center;
  gap: 1rem;
  .hr {
    height: 14px;
    width: 3px;
    background-color: red;
    color: red;
    font-weight: 760;
  }
  p {
    font-size: 0.8rem;
    font-weight: 540;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.bottom-end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4.7vh;
  font-size: 0.8rem;
  background-color: red;
  color: white;
}


@media (max-width: 780px) {
  .portal{
    .portal_box{
      button{
        font-size: 1.5vw;
      }
    }
  }


  .footerbottom{
  padding-left: 1rem;
  gap: 0.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  p{
    font-size: 0.6rem;
  }
  }

  .bottom-end{
    justify-content: space-around;
    font-size: 0.7rem;
    gap: 1.3rem;
  }
  }