.portal{
    display: flex;
     justify-content: center;
     gap: 106px;

     button{
        width: 20 rem;
        padding: 16px 10px;
        font-size: 12px;
        
     }





     

}

.e_shram{
    display: flex;
    justify-content: space-around;
 }