@media (max-width: '786px') {
   .header_top{
    justify-content: center;
    height: 10vh;
   }
}

.header_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  background-color: red;
  align-items: center;
  cursor: pointer;

  .header_left {
    color: #fde58c;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    animation: blinking-animation 1s infinite;
    font-weight: 700;
    .email, .telephone{
  
    }
    p{
      font-size: 1.3vw;
    }
  }

  .header_right {
    display: flex;
    color: white;
    .header_right_text {
      display: flex;
      padding: 0 52px;
      word-spacing: 0.3vw;
      font-size: 0.9rem;
      // justify-content: center;
      align-items: center;
      p {
        padding-left: 1vw;
        font-size: 1.3vw;
        
      }
    }
    .header_right_other_lang {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 50px 0 0;
      p {
        padding: 1vw;
        font-size: 1.8vw;
      }
      .header_right_other_active {
        background-color: white;
        color: black;
      }

      .lang {
        @media (max-width: "876px") {
          font-size: 1.6vw;
        }
        border: 3px solid #fde58c;
        background-color: red;
        color: white;
        padding: 4px;
        font-size: 1rem;
        font-weight: 600;
        margin: 1.2px;
      }
    }
  }
}

@keyframes blinking-animation {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

//  epfo

.epfo_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;

  .epfo {
    display: flex;
    align-items: center;

    .epfo_logo {
      img {
        width: 98px;
      }
    }
    .epfo_text {
      h1 {
        color: red;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .another_img {
    .another_img_2 {
      margin-bottom: 33px;
      margin-left: 7px;
      width: 95px;
    }
  }
}

.sliding-container {
  display: flex;
  width: 80%;
  margin: auto;
  overflow: hidden;
  align-items: end;
 position: relative;
 top: 45px;
  .sliding-text {
    font-size: 1rem;
    white-space: nowrap;
    animation: slide 70s linear infinite;
    color: red;
    font-weight: 700;
  }
}

/* Define the animation keyframes */
@keyframes slide {
  from {
    transform: translateX(100%); /* Start from the right */
  }
  to {
    transform: translateX(-100%); /* Slide to the left */
  }
}


