.hero{
    display: flex;



    .services{
        position: relative;
        display: inline-block;
        .dropbtn{
            background-color: blue;
            color: white;
        }
        .dropdown_conten{
                display: none;
                position: absolute;
                background-color: rgb(170, 33, 33);
                min-width: 150px;
                z-index: 1;
                &:hover{
                    display: block;
                }

            a{

                color: black;
                text-decoration: none;
                display: block;
                &:hover{
                    background-color: green;
                }
            }
        }
    }
}