.nav{
    background-color:#edeff5;
    height: 65vh;
    right: 34px;
    bottom: 1px;
    position: fixed;

    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 15px; 
        padding:1px  5px;
        

            img{
                width: 26px;
            }
            @media (max-width: 780px) {

                 
                img{
                    width: 20px;
                }
            }
        
    }
}

