.nav{
    background-color: grey;
    width: 3%;
    height: 63vh;
    right: 34px;
    bottom: 0;
    position: fixed;

    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 15px; 
        padding:1px  5px;
    }
}